{% for host in host_virtuales %}
<VirtualHost *:80>
    ServerAdmin webmaster@{{ host.domain }}
    ServerName: {{ host.domain }}
    ServerAlias: www.{{ host.domain }}
    DocumentRoot: {{ host.docroot }}public_html
</VirtualHost>
{% endfor %}

